@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Mulish', sans-serif;
    padding: 0;
    margin: 0;
}

.orange_color {
    color: #FF5400;
}

/* Header section styles */
header {
    width: 1170px;
    margin: 50px auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 44px;
    list-style-type: none;
}

nav ul li a:hover {
    color: #FF5400;
}

.nav_icon {
    display: none;
}

ul li a {
    text-decoration: none;
    color: #424247;
    font-size: 1.2rem;
}

.logo {
    display: flex;
    gap: 16px;
    align-items: center;
}

.logo h2 {
    font-size: 2rem;
    font-weight: 800;
}

.dropdown {
    display: none;
}

/* ---- Banner styles ---- */
.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./assests/Images/banner.png);
    border-radius: 16px;
    margin-top: 48px;
    padding-bottom: 106px;
}

.banner_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.50);
    padding: 16px;
    width: 800px;
    margin: 0 auto;
}

.banner_heading {
    font-size: 4rem;
    color: #FFF;
    text-align: center;
    font-weight: 800;
    padding-top: 106px;
}

.banner_para {
    color: #FFF;
    text-align: center;
    margin: 24px auto 48px;
    width: 676px;

}

form input {
    border-radius: 8px;
    background: #FFF;
    border: none;
    width: 174px;
    height: 52px;
}

::placeholder {
    padding: 16px;
    font-size: 16px;

}

.when_btn_content {
    display: none;
}

.when_btn {
    display: block;
}

.search_btn {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 34px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: white;
    width: 174px;
}

.select_type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background: #FFF;
    padding: 0 16px;
    width: 142px;
    height: 52px;
    border: none;
    color: rgba(19, 19, 24, 0.50);

}

/* Main styles */
main {
    width: 1170px;
    margin: 100px auto;
}

/* why choose us styles */
.choose_us_title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 800;
}

.choose_us_text {
    width: 643px;
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    margin: 24px auto 48px;
}

.yellow_card {
    width: 570px;
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
}

.yellow_card img {
    margin: 32px auto auto 32px;
}

.card_head {
    font-size: 24px;
    font-weight: 800;
    margin: 32px auto auto 32px;
}

.card_para {
    color: #5A5A5D;
    margin: 16px auto auto 32px;
    padding-bottom: 32px;
}

.blue_card {
    width: 570px;
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
}

.blue_card img {
    margin: 32px auto auto 32px;
}

.pink_card {
    width: 570px;
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
}

.pink_card img {
    margin: 32px auto auto 32px;
}

.choose_us_card {
    display: flex;
    gap: 24px;
}

.pink_card_center {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

/* video and place description section */
.video_section {
    display: flex;
    margin-top: 100px;
    gap: 28px;
}

.video_title_container h1 {
    font-size: 40px;
    font-weight: 800;
    width: 448px;
}

.video_title_container p {
    color: #5A5A5D;
    width: 532px;
    margin-top: 24px;
}

.video_title_container ul li {
    color: #131318;
    font-weight: 700;
    margin-top: 24px;
    margin-left: 25px;
}

.video_title_container button {
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 42px;
    margin-top: 32px;
    color: #FFF; 
    border: none;
    font-size: 20px;
}

.video_caption {
    background: url(./assests/Images/video.png);
    padding: 160px 167px;
    border-radius: 16px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    width: 276px;
    text-align: center;
}



/* ---------- mobile device responsive ---------- */
@media screen and (max-width: 600px) {
    header {
        margin: 20px auto;
        width: 94%;
    }

    .logo {
        gap: 10px;
    }

    .logo img {
        width: 28px;
    }

    .logo h2 {
        font-size: 22px;
    }

    .nav_icon {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        gap: 5px;
    }

    .dropdown {
        display: block;
    }

    .dropbtn {
        border: none;
        background: none;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 20px;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        color: #FF5400;
    }

    /* banner responsive */

    .banner {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .banner_heading {
        font-size: 1.6rem;
    }

    .banner_para {
        font-size: 14px;
        width: 80%;
    }

    .banner_form {
        flex-direction: column;
        width: 60%;
        padding: 32px 24px;
    }

    form input,
    .search_btn {
        width: 100%;
    }

    .select_type {
        width: 88%;
    }


    /* ---------- Main responsive ---------- */
    main {
        margin: 100px auto;
        width: 94%;
    }

    /* ----- choose us responsive ----- */
    .choose_us_title {
        font-size: 22px;
    }

    .choose_us_text {
        width: 309px;
    }

    .yellow_card,
    .blue_card {
        width: 100%;
    }

    .choose_us_card {
        flex-direction: column;
    }

/* ----- video section responsive -----  */
.video_section {
    flex-direction: column;
    width: 100%;
}

.video_caption {
    font-size: 20px;
    /* padding: 170px 10px; */
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.video_title_container h1 {
    font-size: 20px;
    font-weight: 800;
    width: 248px;
}

.video_title_container p {
    font-size: 14px;
    width: 360px;
}

.video_title_container ul li {
    font-size: 14px;
    font-weight: 700;
}









}